.homepage {
    height: 100vh;
    padding-left: 50px;
    overflow-y: auto;
    background: #ffffff;
    overflow-x: hidden;
}
.homepage-background {
    position: sticky;
    width: 100%;
    height: 30%;
    background-image: url('../assets/homebackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.schatten-block {
    position: sticky;
    top: 281px;
    margin-left: 5px;
    height: 20px;
    width: 100%;
    background: #ffffff;

}

.home-content {
    margin: 8rem 12rem 0 16rem;
    height: auto;
}

.home-title {
    margin-bottom: 5rem;
}

.homepage h2 {
    font-family: 'futura book bold', sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: rgb(55 40 40 / 61%) !important;
    margin-bottom: 0.5rem;
}

.homepage h3 {
    padding-left: 0.3rem;
    font-weight: 900;
    display: inline-block;
    font-family: 'futura book bold', sans-serif;
    font-size: 30px;
    color: rgb(81 63 63 / 61%) !important;
}

.homepage-text {
    font-size: large;

    font-weight: 500;
    margin-top: 2rem;
    max-width: 80%;
    line-height: 2rem;
    
}

.uber-uns {
    margin-top: 3rem;
}


@media screen and (max-width: 767px) {
    .home-content {
        margin: 4rem 1rem 0 2rem;
    }

    .homepage-background {
        height: 20%;
    }

    .home-title {
        margin-bottom: 2rem !important;
    }
    

    .homepage h2 {
        font-size: 22px;
    }

    .homepage h3 {
        padding-left: 0px !important ;
        font-size: 16px;

    }
    .homepage-text {
        font-size: 14px !important;
        max-width: 95%;
        
    }
    
}
