:root {
    --color-bg: #f4f6fa;
    --color-brimary: #121926;
    --color-muted: #9fa4af;
    --color-hover: #e8ecf4;
}

* {
    box-sizing: border-box;
}

body {
    background: #dadee5;
}

h2, h3, ul {
    margin: 0;
}

.sidebar {
    z-index: 1;
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50px;
    transition: 0.4s;
    background: #ffffff;
}

.sidebar button {
    border: 0;
    background: transparent;
    font-size: 22px;
    color: inherit;
    border-radius: 8px;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;

}

.left, .right {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    z-index: 1;
    left: 0;
    width: 50px;
    background: #dfe5e8;
}

.left img {
    width: 30px;
    margin: 24px 0 28px;
}

.right {
    left: 50px;
    height: 100%;
    position: absolute;

}

.right-inner {
    position: absolute;
    inset: 2px;
    left: 5px;
    border-radius: 12px;
    background: var(--color-bg);
}

.right .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px;
}

.right h2 {
    font-size: 16px;
    font-weight: 700;

}

.right nav {
    padding: 0 12px;
    font-size: 14px;
}
.right span {
    font-size: 16px;
    font-weight: 500;
}

.right button i:last-child {
    opacity: 0;
    font-size: 16px;
    margin-left: auto;
    transition: 0.3s;
}

.right button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 44px;
    font-size: 14px;
}

.right button:hover i:last-child {
    opacity: 1;
    color: var(--color-muted)
}

.right button:hover {
    background: var(--color-hover);
    color: #384251;
}

.sidebar:hover {
    width: 292px;
    border-radius: 0px 10px 10px 0px;
}

.sidebar:hover .right {
    width: 240px;
}

.submenu {
    position: relative;
    list-style: none;
    padding: 2px 0 8px 23px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.contact-daten {
    position: absolute;
    bottom: 25px;
}


.submenu li {
    font-size: 12px;
    white-space: nowrap;
    height: 36px;
    padding-left: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}








